src/haml/index.haml
!!!5
%html
  %head
    = Haml::Engine.new(File.read('./src/haml/blocks/head.haml')).render(Object.new, :titleName => "Главная")
  %body
    #wrapper
      -# %input#input{:type => 'text'}
      -# %input#submit{:type => 'button', :value => 'Submit'}
      -# %p#summary
      -# %canvas#myCanvas.canvas{:width => '400px', :height => '200px'}
      -# %div.average
      .background
        %div.imgblock
          %img.image{:src => 'img/internal_communication.png'}
        %div.imgblock
          %img.image{:src => 'img/dark-knight-pounding.gif'}
        %div.imgblock
          %img.image{:src => 'img/unicorn-small_2x.jpg'}
        %div.imgblock
          %img.image{:src => 'img/12-fire.jpg'}
        %div.imgblock
          %img.image{:src => 'img/drainlion.jpg'}
        %div.imgblock
          %img.image{:src => 'img/crowdfunding_application_design_ramotion.gif'}
        %div.imgblock
          %img.image{:src => 'img/playing_cards.jpg'}
        %div.imgblock
          %img.image{:src => 'img/untitled-1.jpg'}
        %div.imgblock
          %img.image{:src => 'img/vintage_gamingd.jpg'}
        %div.imgblock
          %img.image{:src => 'img/pull-down-refresh-liquid-ramotion.gif'}
        %div.imgblock
          %img.image{:src => 'img/menuanimation.gif'}
        %div.imgblock
          %img.image{:src => 'img/ovenator.gif'}
        %div.imgblock
          %img.image{:src => 'img/ourshack.gif'}
        %div.imgblock
          %img.image{:src => 'img/Rect1.png'}
        %div.imgblock
          %img.image{:src => 'img/cabbage_PNG8779.png'}
        %div.imgblock
          %img.image{:src => 'img/car_logo_PNG1667.png'}
        %div.imgblock
          %img.image{:src => 'img/car_logo_PNG1637.png'}
    %script{:src => 'js/script.min.js', :defer => true}

build/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Главная</title>
    <meta charset='utf-8'>
    <meta content='width=device-width'>
    <link href='css/style.min.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <div class='background'>
        <div class='imgblock'>
          <img class='image' src='img/internal_communication.png'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/dark-knight-pounding.gif'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/unicorn-small_2x.jpg'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/12-fire.jpg'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/drainlion.jpg'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/crowdfunding_application_design_ramotion.gif'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/playing_cards.jpg'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/untitled-1.jpg'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/vintage_gamingd.jpg'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/pull-down-refresh-liquid-ramotion.gif'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/menuanimation.gif'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/ovenator.gif'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/ourshack.gif'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/Rect1.png'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/cabbage_PNG8779.png'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/car_logo_PNG1667.png'>
        </div>
        <div class='imgblock'>
          <img class='image' src='img/car_logo_PNG1637.png'>
        </div>
      </div>
    </div>
    <script defer src='js/script.min.js'></script>
  </body>
</html>
